:root {
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --header-border-color: #ececec;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-btn-active-color: #188ce8;
  --white-text-color: #ffffff;
  --active-button-text-color: #ffffff;
  --whatwedo-overlay-bg-color: rgba(47, 48, 58, 0.8);
  --card-bg-color: #ffffff;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --hero-reserv-bg-color: #c4c4c4;
  --unactive-button-bg-color: #f5f4fa;
  --footer-address-secondary-color: rgba(255, 255, 255, 0.6);
  --main-black-color: #000000;
  --portfolio-card-border-color: #eeeeee;
  --unactive-svg-color: #afb1b8;
  --unactive-footer-svg-bg-color: rgba(255, 255, 255, 0.1);
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

abbr[title] {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.outline-remover:focus {
  outline: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-text-color);
}

.section__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  padding-top: 80px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------HEADER----------------- */

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  border-bottom: solid 1px;
  background-color: var(--main-bg-color);
  border-color: var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation__menu {
  margin-left: 93px;
}

.menu {
  display: flex;
}

.menu__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--main-transition);
}
.menu__link--active,
.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}
.menu__link--active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.header__connect {
  margin-left: auto;
}

.connect {
  display: flex;
  fill: currentColor;
}

.connect__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.connect__item:not(:last-child) {
  margin-right: 30px;
}

.connect__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--main-transition);
}
.connect__link:hover,
.connect__link:focus {
  color: var(--accent-color);
}

.connect__icon {
  vertical-align: text-bottom;
  margin-right: 10px;
}

/* --------------LOGO----------------- */

.logo {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__accent--color-dark {
  color: var(--main-black-color);
}

.logo__accent--color-light {
  color: var(--white-text-color);
}

/* --------------HERO----------------- */

.section__hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-reserv-bg-color);

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.hero__button {
  padding-right: 32px;
  padding-left: 32px;
}

/* ----------------BUTTON----------------- */

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--main-transition);

  background-color: var(--accent-color);
  color: var(--active-button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--main-btn-active-color);
}

.button--icon-append {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button__icon {
  fill: var(--active-button-text-color);
}

/* --------------FEATURES----------------- */

.section__features {
  padding-bottom: 0;
}

.icon-cardset {
  display: flex;
  gap: 30px;
}

.icon-card {
  flex-basis: calc((100% - 90px) / 4);
}

.icon-card__illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-card__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon-card__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* --------------WHATWEDO----------------- */

.illustration-cardset {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.illustration-card {
  flex-basis: ((100% - 60px) / 4);
}

.illustration-card__thumb {
  position: relative;
  width: 100%;
  height: 100%;
}

.illustration-card__overlay {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 27px;
  text-align: center;
  background-color: var(--whatwedo-overlay-bg-color);
}

.illustration-card__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

/* --------------OURTEAM----------------- */

.section__team {
  background-color: var(--secondary-bg-color);
}

.people-cardset {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.people-card {
  flex-basis: ((100% - 90px) / 4);
  background-color: var(--card-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.people-card__text {
  padding: 30px;
}

.people-card__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.people-card__description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.people-card__soc-list {
  justify-content: center;
}

/* ------------SOCIALS--------------- */

.socials {
  display: flex;
  gap: 10px;
}

.socials__item {
  height: 44px;
  width: 44px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: color var(--main-transition), background-color var(--main-transition);
  border-radius: 50%;
  background-color: transparent;
  fill: currentColor;
}
.socials__link:hover,
.socials__link:focus {
  color: var(--active-button-text-color);
  background-color: var(--accent-color);
}

.socials__link--frame-none {
  color: var(--unactive-svg-color);
  background-color: transparent;
}

/* ----------REGULARCLIENTS------------- */

.logo-cardset {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.logo-card {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.logo-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: border-color var(--main-transition), color var(--main-transition);

  border: 1px solid;
  border-color: var(--unactive-svg-color);
  border-radius: 4px;
  color: var(--unactive-svg-color);
  fill: currentColor;
}

.logo-card__link:hover,
.logo-card__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* --------------FOOTER----------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__columnset {
  display: flex;
  align-items: baseline;
}

.footer__column:nth-child(1) {
  width: 231px;
  margin-right: 70px;
  flex-shrink: 0;
}

.footer__column:nth-child(2) {
  margin-right: 93px;
}

.footer__column:nth-child(3) {
  width: 100%;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-address-secondary-color);
}

.address__item {
  transition: color var(--main-transition);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item--color-white {
  color: var(--white-text-color);
}

.navigation-link.active,
.navigation-link:hover,
.navigation-link:focus,
.header-list-link:hover,
.header-list-link:focus,
.footer-address-item:hover,
.footer-address-item:focus {
  color: var(--accent-color);
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  user-select: none;

  color: var(--white-text-color);
}

.socials__link--frame-grey {
  color: var(--white-text-color);
  background-color: var(--unactive-footer-svg-bg-color);
}

.footer__form {
  display: flex;
  height: 50px;
  gap: 12px;
}

.footer__input {
  flex-grow: 1;
  padding-left: 16px;

  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--white-text-color);
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color var(--main-transition);
}

.footer__input:focus {
  border-color: var(--accent-color);
}

/* ----------------MODAL------------------- */

.index-page__backdrop {
  z-index: 2;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-transition);
  padding: 40px;

  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__fieldset {
  margin-bottom: 20px;
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form-item__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  user-select: none;
}

.form-item__wrap {
  position: relative;
}

.form-item__field {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 42px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--main-transition);
}

.form-item__field:focus {
  border-color: var(--accent-color);
}

.form-item__field:focus + .form-item__icon {
  fill: var(--accent-color);
}

.form-item__field--type-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form-item__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--main-transition);
}

.form__agreement {
  margin-bottom: 30px;
}

.agreement {
  display: block;
  padding-left: 14px;
}

.agreement__label {
  position: relative;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement__text {
  margin-left: 22px;
  user-select: none;
}

.agreement__link {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.agreement__icon--unchecked {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: color var(--main-transition);
  fill: currentColor;
  color: var(--title-text-color);
}

.agreement__icon--checked {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  background-color: var(--accent-color);
  border-color: #ffffff;
  border-radius: 2px;
  color: var(--white-text-color);
  fill: currentColor;
}

.agreement__checkbox-engine {
  position: absolute;
  top: 57%;
  left: 2.5px;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.agreement__checkbox-engine:checked ~ .agreement__icon--unchecked {
  opacity: 0;
  transform: translateY(-50%);
}

.agreement__checkbox-engine:not(:checked) ~ .agreement__icon--checked {
  opacity: 0;
  transform: translateY(-50%);
}

.agreement__checkbox-engine:focus ~ .agreement__icon--unchecked {
  color: var(--accent-color);
}

.form__button-wrapper {
  display: flex;
  justify-content: center;
}

/* --------------PORTFOLIO----------------- */
/* ----------------PAGE-------------------- */

.portfolio__filter {
  margin-bottom: 50px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter__btn {
  min-width: 73px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--main-transition), color var(--main-transition),
    box-shadow var(--main-transition);

  background-color: var(--unactive-button-bg-color);
  color: var(--title-text-color);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px rgba(0, 0, 0, 0);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--active-button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-cardset {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  flex-basis: calc((100% - 60px) / 3);

  background: var(--card-bg-color);
}

.product-card__link {
  display: block;
  width: 100%;
  height: 100%;

  transition: box-shadow var(--main-transition);

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px rgba(0, 0, 0, 0);
}

.product-card__link:hover,
.product-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card__thumb {
  position: relative;
  overflow: hidden;
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform var(--main-transition);
  display: flex;
  align-items: center;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-overlay-bg-color);
}

.product-card__link:hover .product-card__overlay,
.product-card__link:focus .product-card__overlay {
  transform: translate(0);
}

.product-card__story {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-text-color);
}

.product-card__text {
  padding: 20px 24px;
  border: solid;
  border-width: 0 1px 1px 1px;

  border-color: var(--portfolio-card-border-color);
}

.product-card__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-card__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
